.f-sider {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
  /* background: #1c1c50;
  border-right: 1px solid rgb(45 80 160 / 36%); */

  &-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }

  &-footer {
    width: 100%;
    height: 30px;
    color: #999;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    box-shadow: 0 1px 4px rgb(0 21 41 / 12%);
  }

  .spin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: royalblue;
    font-size: 40px;
  }

  &-trigger {
    position: absolute;
    top: 45%;
    left: calc(240px - 50px);
    z-index: 98;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all 0.2s ease;

    .icon-bg {
      width: 100%;
      height: 100%;
      border-top: 12px solid transparent;
      border-right: 17px solid #d9dee4;
      border-bottom: 12px solid transparent;
      border-left: none;
      transition: all 0.2s ease;
    }

    .icon {
      position: absolute;
      top: 18px;
      right: 0;
      color: #000;
      font-weight: bold;
      font-size: 14px;
    }

    &:hover {
      .icon-bg {
        border-top: 12px solid transparent;
        border-right: 20px solid #d9dee4;
        border-bottom: 12px solid transparent;
        border-left: none;
      }
    }

    &.collapse {
      left: 0;

      .icon-bg {
        border-top: 12px solid transparent;
        border-right: none;
        border-bottom: 12px solid transparent;
        border-left: 17px solid #d9dee4;

        .icon {
          position: absolute;
          top: 18px;
          left: 0px;
          font-weight: bold;
        }
      }

      &:hover {
        .icon-bg {
          border-top: 12px solid transparent;
          border-right: none;
          border-bottom: 12px solid transparent;
          border-left: 20px solid #d9dee4;
        }
      }
    }
  }
}
